<main>
  <div class="table-data">
      <div class="order">
          <div class="head">
              <h3>Add New</h3>
          </div>
          <table>
            <thead>
              <tr>
                  <th>Add New</th>
                  <th>Count</th>
              </tr>
          </thead>
              <tbody>
                  <tr>
                          <td>
                              <p>Category</p>
                          </td>
                          <td>0</td>
                          <td>
                            <a href="/categoryAdmin">
                                <i class='bx' ><b>View &nearr;</b></i>
                            </a>
                        </td>
                          <td>
                              <a href="/addCat">
                                  <i class='bx' ><b>Add &nearr;</b></i>
                              </a>
                          </td>
                      </tr>
                      <tr>
                        <td>
                            <p>Items</p>
                        </td>
                        <td>0</td>
                        <td>
                          <a href="/itemsAdmin">
                              <i class='bx' ><b>View &nearr;</b></i>
                          </a>
                      </td>
                        <td>
                            <a href="/addItem">
                                <i class='bx' ><b>Add &nearr;</b></i>
                            </a>
                        </td>
                    </tr>
              </tbody>
          </table>
      </div>
  </div>
</main>