<main>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Categories</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(cat => { %>
                     
                        <tr>
                            <td>
                            <img src="<%= cat.image %>">
                            <p><%= cat.name %></p>
                        </td>
                        <td>0<td>
                            <td>
                                <a href="">
                                    <i class='bx' ><b>View &nearr;</b></i>
                                </a>
                            </td>
                        <td>
                            <a href="/edit-cat/<%= cat._id %>">
                                <i class='bx' ><b>Edit &nearr;</b></i>
                            </a>
                        </td>
                        <td>
                            <button onclick="document.getElementById('id01').style.display='block'">Delete</button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <% categories.forEach(cat => { %>
      <form class="modal-content" action="/delete-cat/<%= cat.id %>">
        <div class="container">
          <h1>Delete Account</h1>
          <p>Are you sure you want to delete your account?</p>
    
          <div class="clearfix">
            <a href="/categoryAdmin">
                <button type="button" class="cancelbtn">Cancel</button>
            </a>
        <a href="">
            <button type="button" class="deletebtn">Delete</button>
        </a>  
        </div>
    </div>
</form>
<% }) %>
    </div>
</main>