<main>
<div class="card">
    <img src="<%= categories.image %>" alt="Denim Jeans" style="width:100%">
    <h1><%= categories.name %></h1>
    <a href="/dashboard">
    <p><button>Back To Dashboard</button></p>
</a>
  </div>
</main>